.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    margin: 45px 0 25px;
  }
}

.grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.gridItem {
  width: 25%;
}

@media screen and (max-width: 450px) {
  .gridItem {
    width: 100%;
  }

  .page {
    h1 {
      font-size: 20px;
    }
  }
}

 @media screen and (min-width: 451px) and (max-width: 767px) {
  .gridItem {
    width: 50%;
  }

  .page {
    h1 {
      font-size: 20px;
    }
  }
 }

 @media screen and (min-width: 768px) and (max-width: 1000px) {
  .gridItem {
    width: 33%;
  }
 }
